html {
    /* font-size: 10px; */
    font-size: 62.5%;
  }
  

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: #e1e7ed;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: Montserrat, "Open Sans", Roboto, Verdana, Tahoma, sans-serif;
    font-size: 1.728rem;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}


#tituloPagina {
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem;
    text-shadow: rgb(87, 2, 2) 0.1rem 0 1rem;
}

p{
    font-size: 2rem;
    margin: 2rem;
}

/* Estilo base para todos os botões */
.button {
    border-radius: 0.8rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 12rem;
}

/* Estilo específico para o botão inserir */
.button-inserir {
    background-color: #007BFF; 
    color: #FFFFFF; 
    border: none;
    margin-left: 2rem;
}

.button-inserir:hover {
    background-color: #0056b3;
}

/* Estilo específico para o botão limpar */
.button-reset {
    background-color: #FFFFFF; 
    color: #4A4A4A; 
    border: 1px solid #CCCCCC;
}

.button-reset:hover {
    background-color: #e1e7ed; 
}

.container{
    display: flex;
    align-items: column;
    flex-flow: column wrap;
}

/* Campo Item */
#campoItem{
    align-self: center;
    font-size: 3rem;
    margin: 2rem;
    text-shadow: rgb(233, 233, 233) 0.1rem 0 1rem;
    text-align: center;
    width: 50%;
}

/* Botões de Ordenação */
.botaoOrdenar {
    color: white;
    border: none;
    font-size: 2rem;
    width: auto;
    padding: 1rem;
    margin-left: 1rem;
    transition: background-color 0.3s ease;
}

/* Ordenação Crescente (seta para cima) */
.botaoOrdemCrescente{
    background-color: #28a745;

}

.botaoOrdemCrescente:hover {
    background-color: #218838;
}

/* Ordenação Decrescente (seta para baixo) */
.botaoOrdemDecrescente {
    background-color: #FF5733; 
    margin-left: 0.2rem;
}

.botaoOrdemDecrescente:hover {
    background-color: #c13c1f;
}

/* Estilo da Lista */
#listaTela {
    margin: 2rem auto;
    width: 80%;
    max-width: 80rem;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.lista-item:hover {
    background-color: #f9f9f9;
}

/* Estilo do checkbox */
.checkbox-item {
    margin-right: 1rem;
}

/* Estilo do texto de cada item  */
.texto-item {
    font-size: 1.6rem;
    flex-grow: 1;
    text-align: left;
}

/* Botão de excluir cada item individualmente */
.botao-excluir {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}